.for-card {
  display: flex;
  flex-direction: column;
  gap: 1rem;
  padding: 1.5rem;
  width: 50%;
}
.for-card h3 {
  text-align: center;
}
.s-button {
  height: 3rem;
  font-size: larger;
  font-weight: 500;
}
