.full{
    width: 100%;
    height: 100%;
    padding-top: 2rem;
}
.table-wrapper{
    width: 100%;
    height: auto;
}
.table-row{
    width: 100%;
    min-height: 2rem;
    display: flex;
    border-bottom: 1px solid #d9d5d56b;
}

.row-element {
  flex: 1;
  height: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
}